<h1>Chat room</h1>
<%
=begin%>
 <div id="room-id" data-roomId="<%= @room.id %>"></div> 
<%
=end%>
<div id="messages">
<%= render @messages %>
</div>

<form>
    <label>Say something:</label><br>
    <input type="text" data-behavior="room_speaker">
</form>